:root {
	--strong-cyan: hsl(172, 67%, 45%);
	--very-dark-cyan: hsl(183, 100%, 15%);
	--dark-grayish-cyan: hsl(186, 14%, 43%);
	--grayish-cyan: hsl(184, 14%, 56%);
	--light-grayish-cyan: hsl(185, 41%, 84%);
	--very-light-grayish-cyan: hsl(189, 41%, 97%);
	--white: hsl(0, 0%, 100%);
	--disabled: hsl(184, 57%, 27%);
}

body {
	font-family: 'Space Mono';
	font-size: 24px;
	background-color: var(--light-grayish-cyan);
	margin: 0;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

.logo {
	margin: 10px;
}

.block {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 50%;
	height: 70vh;
	background-color: var(--white);
	border-radius: 26px;
}

.block__details {
	width: 45%;
	height: 63vh;
}

.block__display {
	width: 45%;
	height: 63vh;
	background-color: var(--very-dark-cyan);
	border-radius: 16px;
	display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block__display__values-container {
	display: flex;
  flex-direction: row;
	justify-content: space-around;
}

.block__display__values-container__text{
	padding-top: 50px;
}

.block__display__values-container__text-main {
	color: var(--very-light-grayish-cyan);
	font-size: 15px;
	margin: 0px 0px 0px 0px;
}

.block__display__values-container__text-gap {
	height: 57px;
}

.block__display__values-container__text-description {
	color: var(--grayish-cyan);
	font-size: 12px;
	margin: 0px 0px 0px 0px;
}

.block__display__values-container__price {
	font-size: 40px;
	color: var(--strong-cyan);
}

.block__display__button {
	height: 50px;
	width: 80%;
	align-self: center;
	margin-bottom: 40px;
	border-color: transparent;
	background-color: var(--strong-cyan);
	font-family: 'Space Mono';
	font-size: 24px;
	color: var(--very-dark-cyan);
}

.block__display__button--disabled:disabled {
	background-color: var(--disabled);
}