:root {
	--strong-cyan: hsl(172, 67%, 45%);
	--very-dark-cyan: hsl(183, 100%, 15%);
	--dark-grayish-cyan: hsl(186, 14%, 43%);
	--grayish-cyan: hsl(184, 14%, 56%);
	--light-grayish-cyan: hsl(185, 41%, 84%);
	--very-light-grayish-cyan: hsl(189, 41%, 97%);
	--white: hsl(0, 0%, 100%);
	--disabled: hsl(184, 57%, 27%);
}

body {
	font-family: 'Space Mono';
	font-size: 24px;
	background-color: var(--light-grayish-cyan);
	margin: 0;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

.logo {
	margin-bottom: 70px;
}

.white-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 45%;
	height: 50vh;
	background-color: var(--white);
	border-radius: 26px;
}

.action-container {
	width: 40%;
	height: 40vh;
	display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bill-label, 
.select-tip-label,
.people-label {
	display: flex;
  flex-direction: column;
	font-size: 16px;
	color: var(--dark-grayish-cyan);
	
}

::placeholder { 
  color: var(--grayish-cyan);
}

.green-container {
	width: 50%;
	height: 45vh;
	background-color: var(--very-dark-cyan);
	border-radius: 16px;
	display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Mobile width */
@media screen and (max-width: 576px) and (orientation: portrait) {
	.container {
		height: auto;
		flex-direction: column;
		scroll-behavior: auto;
	}

	.logo {
		display: flex;
    justify-content: center;
    align-items: center;
		height: 15vh;
		margin-bottom: 0px;
	}

  .white-container {
		flex-direction: column;
		height: 100vh;
		border-radius: 26px 26px 0px 0px;
		width: 100%;
		padding-bottom: 40px;
		padding-top: 40px;
		justify-content: space-around;
	}

	.action-container {
		margin-top: 40px;
		padding-bottom: 40px;
		width: 80vw;
		justify-content: space-around;
		gap: 30px;
	}

	.green-container {
		width: 80vw;
		height: 45%;
		padding-bottom: 10px;
	}
}