.result-container {
	display: flex;
  flex-direction: row;
	justify-content: space-around;
}

.result-text {
	padding-top: 60px;
}

.result-title {
	color: var(--very-light-grayish-cyan);
	font-size: 15px;
	margin: 0px 0px 0px 0px;
}

.result-subtitle  {
	color: var(--grayish-cyan);
	font-size: 12px;
	margin: 0px 0px 0px 0px;
}

.text-gap {
	height: 57px;
}

.result-price-tip-amount,
.result-price-total {
	font-size: 40px;
	color: var(--strong-cyan);
	margin-top: 45px;
}
