.results-container {
	display: grid;
  align-content: center;
  justify-content: space-around;
  justify-items: stretch;
	grid-template-rows: 1fr 1fr;
	padding-top: 35px;
	grid-row-gap: 3rem;
	/*width: 100%;*/
}

.result {
	display: grid;
	grid-template-columns: 1fr 1fr;
  justify-content: space-around;
	align-items: center;
  grid-column-gap: 40px;
  justify-items: stretch;
}

.result-label {
	padding-right: 2rem;
}

.result-title {
	color: var(--very-light-grayish-cyan);
	font-size: 20px;
	margin: 0px 0px 0px 0px;
}

.result-subtitle  {
	color: var(--grayish-cyan);
	font-size: 15px;
	margin: 0px 0px 0px 0px;
}

.result-price {
	font-size: 40px;
	color: var(--strong-cyan);
	display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 576px) and (orientation: portrait) {
	.result {
		grid-column-gap: 0px;
	}

	.result-label {
    padding-right: 1rem;
	}
}